.search-bar {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  font-size: px2rem(14px);

  & > div {
    height: px2rem(30px);
    line-height: px2rem(30px);
    border-radius: px2rem(13px);
  }

  .anticon {
    font-size: px2rem(16px);
  }

  .search-location {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: px2rem(92px);
    padding: 0 5px;
    background-color: rgba(0, 0, 0, 0.33);
    color: #fff;
  }
  .search-btn {
    width: px2rem(170px);
    padding: 0 10px;
    background-color: #fff;
    color: #a9a9a9;
    .anticon {
      color: #666;
      margin-right: 8px;
    }
  }
}
